appml==0.1
cycler==0.10.0
Django==2.2.12
joblib==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.5
pandas==1.2.0
Pillow==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
scikit-learn==0.24.0
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
sqlparse==0.4.1
threadpoolctl==2.1.0
